/* Définition des Polices */

@font-face{
    font-family: 'chicken';
    src: url('police/CHICKEN\ Pie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Elements principaux de la page */

body{
    background-color: rgb(238, 238, 238);
    color: #000;
    max-width: 920px;
    margin: auto;
    border: 1px solid rgba(30, 126, 182, 0.678);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.85em;
}


/* Header */

header{
    display: flex;
}

header img{
    border-radius: 50%;
    border: 0.3em solid rgba(30, 126, 182, 0.678);
    box-shadow: 1px black;
}

.profil_photo{
    background-color: rgba(30, 126, 182, 0.678) ;
    width: 32%;
    text-align: center;
    padding-top: 2em;
}
.header_name{
     display: flex;
    flex-direction: column;
    margin-left: 3.5em;
    padding-top: 4em;
 }

header h1{
     font-size: 2.5em;
     text-transform: uppercase;
     line-height: 0em;
     font-family: 'chicken';
 }
  
.name-h1{
    color: rgba(30, 126, 182, 0.678);
} 

header h2{
    font-size: 1.3em;
    line-height: 0em;
}

.underline-h2{
    border-bottom: 0.05em solid rgba(30, 126, 182, 0.678);
    padding-bottom: 0.10em;
}

/* ASIDE */

aside {
    background-color: rgba(30, 126, 182, 0.678);
    width: 32%;
    color: rgba(53, 9, 9, 0.89);
    display: flex;
    flex-direction: column;
    font-size: 0.95em;
}

aside h3{
    text-transform: uppercase;
    font-size: 1.6em;
    background-color: rgba(53, 9, 9, 0.89);
    color: rgba(30, 126, 182, 0.959);
    text-align: center;
    font-family: 'chicken';
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.contact p{
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

.contact a{
    text-decoration: none;
    color: rgba(53, 9, 9, 0.89);
}
.contact a:hover{
    font-weight: bold;
}

.about_me{
     flex-grow: 2;
    padding-bottom: 20em;
}
.about_me p{
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
    /* text-align: center; */
}

.icons i{
    border: 2px solid rgba(53, 9, 9, 0.89);
    width: 2em;
    height: 2em;
    /* text-align: center; */
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}    

/* MAIN General*/

main {
    width: 63%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.main_contenu i {
    padding-left: 40px;
    padding-top: 15px;
}

.main_contenu {
    display: flex;
    flex-direction: row;
}


/* MAIN Titre */

main h3{
    font-size: 1.6em;
    text-transform: uppercase;
    color: #000;
    text-align: left;
    font-family: 'chicken';
}

.main_title{
    border-bottom: 1px solid rgba(30, 126, 182, 0.678);
    margin-left: 1.5em;

}

main i {
    color: rgba(30, 126, 182, 0.678);
    font-size: 2em;
    float: left;
    padding-right: 0.8em;
    padding-left: 0.5em;
}


/* MAIN Contenu */

.main_contenu_date{
    margin-left: 0.5em;
    min-width: 11em;
    padding-left: 0px;
    margin-right: 0.5em;
    margin-top: 1.5em;
}

main h4{
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 0px;
    font-family: 'chicken';
}

.main_contenu i{
    font-size: 0.8em;
    padding-right: 0px;
    padding-top: 2.5em;
}

main h5{
    font-size: 1.05em;
    font-style: italic;
    font-weight: normal;
}

.main_recommantation{
    display: flex;
    justify-content: space-around;
}

.main_recommantation a{
    text-decoration: none;
    color: #000;
}

.main_recommantation a:hover{
    font-weight: bold;
}

.main_recommantation i{
    font-size: 0.8em;
    padding-top: 0.2em;
}

.main_recommantation p{
    margin-left: 1.8em;
}

.main_recommantation h5{
    margin-left: 1.8em;
}


/* Footer */

.footer_left{
    width: 32%;
    background-color: rgba(30, 126, 182, 0.678);
}

footer p{
    font-size: 0.5em;
    margin-right: 1em;
}

/* Position General bloc page */

.contenu-page {
    display: flex;
    justify-content: flex-start;
}

footer {
    display: flex;
    justify-content: space-between;
}


/* Media Queries Responsive*/

@media only screen and (max-width: 740px){

    header{
        display: flex;
        flex-direction: column;
    }
    .profil_photo{
        width: 100%;
    }

    .contenu-page{
        display: flex;
        flex-direction: column-reverse;
    }
    aside{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .contact{
        text-align: center;
    }

}

@media only screen and (max-width: 540px){
    .main_contenu{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .main_contenu i{
        padding-left: 0px;
    }
    header h1{
        font-size: 1em;
    }
    main h3{
        font-size: 1.1em;
    }
    main i{
        font-size: 1em;
    }
    main h4{
        font-size: 0.9em;
    }
    footer{
        background-color: rgba(30, 126, 182, 0.678);
    }
    .footer_left{
        display: none;
    }
    footer p{
        padding-top: 2em;
        margin: auto;
    }
}

